{% extends 'secu_guard/base.html' %}

{% block content %}
          <div class="w3-card-12 w3-margin" style="width:50%">
            <header class="w3-container w3-black">
              <h2>{{ site }}</h2>
              </header>
            <div class="w3-container">
             
              <p> 
                <ul>
                    <li>Nom du site : {{ site.name }}</li>
                    <li>Adresse : {{ site.address }}</li>
                    <li>Adresse e-mail : {{ site.email}}</li>
                    <li>N° tel : {{ site.phone }}</li>
                    <li>N° RC : {{ site.RC }}</li>
                    <li>NIF : {{ site.NIF }}</a></li>
                </ul>

                <br>
                {% if site.site_image %}
                  <img src="{{ site.site_image.url }}" width=200>
                {% endif %}
                <br><br>


            </p>
            </div>
          </div>
         
          
{% endblock %}
   